body {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-align: center;
    background-color: #121212;
  }
  
  .wrapper {
    max-width: 800px;
    margin: 50px auto;
  }
  
  h1 {
    color: #aaaaaa;
    font-weight: 200;
    font-size: 3em;
    margin: 0 0 0.1em 0;
  }
  
  h2 {
    font-weight: 200;
    font-size: 0.9em;
    margin: 0 0 50px;
    color: #EEE;
  }
  
  a {
    margin-top: 50px;
    display: block;
    color: #ffffff;
    
  }

  .element {
    color: #aaaaaa;
    outline:none;
    font-weight: 10;
    font-size: 1.2em;
    margin: 20px;
    border: none;
    border-radius: 11px;
    background: #121212;
    box-shadow:  5px 5px 10px #070707, 
                 -5px -5px 10px #1d1d1d;
}
.element:active {
  box-shadow:  inset 5px 5px 10px #070707, 
               inset -5px -5px 10px #1d1d1d;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content menuItem {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content menuItem:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.chart {

}